.testimonial {
  margin: 0 20px 50px;
}

.testimonial .pic {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 15px 15px 0;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.testimonial .testimonial-profile {
  display: inline-block;
  position: relative;
  top: 15px;
}

.testimonial .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #2f2f2f;
  text-transform: capitalize;
  margin: 0 0 7px 0;
}

.testimonial .post {
  display: block;
  font-size: 14px;
  color: #5d7aa7;
}

.testimonial .description {
  padding: 20px 22px;
  background: #1f487e;
  font-size: 15px;
  color: #fff;
  line-height: 25px;
  margin: 0;
  position: relative;
  height: 180px;
}

.testimonial .description:before,
.testimonial .description:after {
  content: "";
  border-width: 18px 0 0 18px;
  border-style: solid;
  border-color: #5d7aa7 transparent transparent;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.testimonial .description:after {
  border-width: 18px 18px 0 0;
  left: auto;
  right: 0;
}

.owl-theme .owl-controls {
  margin-top: 10px;
  margin-left: 30px;
}

.owl-theme .owl-controls .owl-buttons div {
  opacity: 0.8;
  background: #fff;
}

.owl-prev:before,
.owl-next:before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  color: #1f487e;
}

.owl-next:before {
  content: "\f054";
}